.nav {
    background-color: #f5c347;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    width: 100vw;
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
    color: black;
    margin-right: 2rem;
}

.links li {
    padding: 0.5rem;
}
